button{
	margin: 5px;
}

#big-wrapper{
	margin-top: 10px;
	width: 1200px;
}

#left-div{
	float: left;
	width: 800px;
}

#search-bar{
	float: right;
	width: 120px;
}

p{
	font-weight: bold;
}

#submit-button{
	margin-top: 5px;
}